<div class="full-center signup-container">
  <div class="signup-card">
    <h2>AgroSense Signup</h2>
    <form (ngSubmit)="onSignup()">
      <input
        type="text"
        placeholder="Username"
        class="input-field"
        [(ngModel)]="username"
        name="username"
        required
      />
      <input
        type="email"
        placeholder="Email"
        class="input-field"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        class="input-field"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="submit" class="btn">Signup</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
    <p routerLink="/"><a>Close</a></p>
  </div>
</div>
