.login-container {
  background: url('../../assets/green-farm-tractor-windmill.png') no-repeat center center fixed;
      /* background-image: url('assets/green-farm-tractor-windmill.png'); */
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent for contrast */
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 350px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
}
