<!-- Stats Cards -->
<div class="cards">
  <div class="card">
    <div class="card-header">
      <h3>Total Farmers</h3>
    </div>
    <div class="card-body">
      <p class="card-value">1,245</p>

    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3>Total Crops</h3>
    </div>
    <div class="card-body">
      <p class="card-value">320</p>

    </div>
  </div>
  <!-- 3 -->
   <div class="card">
    <div class="card-header">
      <h3>Total Crops</h3>
    </div>
    <div class="card-body">
      <p class="card-value">320</p>

    </div>
  </div>
  <!-- 4 -->
  <div class="card">
    <div class="card-header">
      <h3>Total Farmers</h3>
    </div>
    <div class="card-body">
      <p class="card-value">1,245</p>

    </div>
  </div>
</div>

<app-reports></app-reports>